@charset "UTF-8";
nav {
  width: 100%;
  height: 50px;
  background-color: #FFFEE9;
  border-bottom: 2px solid #846930;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }
  nav .wrapper {
    justify-content: space-between; }
    nav .wrapper .logo {
      border: 1px solid orange;
      height: 100%;
      align-items: center; }
      nav .wrapper .logo img {
        height: 30px;
        padding: 0.25em; }

.nav-list {
  align-items: center; }
  .nav-list li {
    width: 83.252px;
    height: 22px;
    margin: 0 10px;
    cursor: pointer; }
  .nav-list li:nth-child(1) {
    background: url("../img/menu.png") 0 0 no-repeat; }
    .nav-list li:nth-child(1):hover {
      background: url("../img/menu.png") -86.252px 0 no-repeat; }
  .nav-list li:nth-child(2) {
    background: url("../img/menu.png") 0 -23px no-repeat; }
    .nav-list li:nth-child(2):hover {
      background: url("../img/menu.png") -86.252px -23px no-repeat; }
  .nav-list li:nth-child(3) {
    background: url("../img/menu.png") 0 -46px no-repeat; }
    .nav-list li:nth-child(3):hover {
      background: url("../img/menu.png") -86.252px -46px no-repeat; }
  .nav-list li:nth-child(4) {
    background: url("../img/menu.png") 0 -69px no-repeat; }
    .nav-list li:nth-child(4):hover {
      background: url("../img/menu.png") -86.252px -69px no-repeat; }
  .nav-list li:nth-child(5) {
    background: url("../img/menu.png") 0 -92px no-repeat; }
    .nav-list li:nth-child(5):hover {
      background: url("../img/menu.png") -86.252px -92px no-repeat; }

.banner {
  height: 619px;
  background: url("../img/banner2_ok.jpg");
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .banner .blur-banner {
    width: 100%;
    height: 201px;
    background-color: rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
    position: absolute;
    bottom: 0px;
    left: 0px;
    flex-direction: column; }
    .banner .blur-banner p {
      margin: 8px auto; }
      .banner .blur-banner p:first-child {
        margin-top: 50px; }

/*
*opacity會將子元素也透明化，要實現父元素背景透明，子元素不透明的解法
可將背景放在一個等大的子元素中，用position定位脫離，將z-index設在底層，即可實現。
*/
.template {
  margin-top: 50px; }

section {
  min-height: 800px;
  position: relative; }
  section .blur-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/background_ok_1.jpg");
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1; }
  section .card-list {
    border: 2px solid red;
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;
    position: relative; }
    section .card-list .card {
      width: 25%;
      min-width: 250px;
      height: 16vw;
      min-height: 250px;
      color: rgba(255, 255, 255, 0.8);
      border-radius: 25px;
      display: inline-block;
      margin: 20px 10px; }
      section .card-list .card img {
        width: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 20px 20px 0px 0px; }
      section .card-list .card h2 {
        margin: auto; }
      section .card-list .card p {
        text-indent: 0.5cm; }

.card {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .card:hover .front {
    transform: rotateY(180deg); }
  .card:hover .back {
    transform: rotateY(0deg); }

.flipper {
  width: 100%;
  position: relative; }

.front, .back {
  width: 100%;
  height: 16vw;
  min-height: 250px;
  border-radius: 25px;
  background: url("../img/card-bg-1.jpg");
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column; }

.front {
  z-index: 2;
  transform: rotateY(0deg); }

.back {
  transform: rotateY(-180deg); }
  .back p {
    padding: 10px 20px; }

footer {
  background-color: #FFFEE9;
  height: 30px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box; }

/*# sourceMappingURL=layout.css.map */
