@charset "utf-8";
	.XMLID_28_
{
	background-image : url(XMLID_28_.png);
	background-repeat : no-repeat;
}
.XMLID_5_
{
	background-image : url(XMLID_5_.png);
	background-repeat : no-repeat;
}
.XMLID_18_
{
	background-image : url(XMLID_18_.png);
	background-repeat : no-repeat;
}
.XMLID_27_
{
	background : #F6D49A;
	background : rgba(246, 212, 154, 1);
}
.XMLID_8_
{
	background-image : url(XMLID_8_.png);
	background-repeat : no-repeat;
}
