html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body{
  width: 100%;
  color: #594846;
  font: 120% "微軟正黑體", "Times New Roman", serif;
  //background-color: #7158ff;
}
a{
  text-decoration: none;
}
h1{
  color: #594846;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.25em;
  //border: 1px solid red;
  min-width: 3em;
}
h2{
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0.25em;
}
.banner > p{
  color: #ffffff;
  font-size: 2rem;
  font-weight: 600;
}

.flex{
  display: -webkit-flex;
  //display: -ms;
    display: flex;
}
.flex-row-cen{
  align-items: center;
}
.wrapper{
  margin: 0 auto;
  width: 85%;
  box-sizing: border-box;
  //height: 100%;
  //border: 1px solid red;
}
.scroll-float{
  //position: absolute;

  z-index: 3;
  box-shadow: 0px 2px 15px 5px #594846;
}
.hidden{
  display: none;
}
.display-toggle{
  display: block !important;
}
.hamburger-menu{
  background: none;
  border: none;
  display: inline-block;
  width: 50px;
  height: 36px;
  .icon-bar{
    position: relative;
    background-color: #846930;
    display: block;
    height: 3px;
    margin: 0px auto 4px;
    width: 30px;
    z-index: -2;
    &::after{
      @extend .icon-bar;
      content: '';
      position: absolute;
      top: -10px;
  }
    &::before{
      @extend .icon-bar;
      content: '';
      position: absolute;
      top: 10px;
    }
  }
}
input{
  height: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  //width: 2rem;
}

