@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@media screen and (min-width: 1171px) {
  /*
  *1171px以上寬螢幕使用(桌面裝置)
  */
  nav {
    width: 100%;
    height: 80px;
    background-color: #FFFEE9;
    border-bottom: 2px solid #846930;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; }
    nav .wrapper {
      flex-direction: column;
      justify-content: space-between; }
      nav .wrapper .logo {
        border: 1px solid orange;
        height: 100%;
        align-items: center; }
        nav .wrapper .logo img {
          height: 30px;
          padding: 0.25em; }

  .nav-list {
    margin: 10px 0;
    border: 2px solid #ffa4cc; }
    .nav-list li {
      border: 2px solid green;
      width: 83.252px;
      height: 22px;
      margin: 0 10px;
      cursor: pointer; }
    .nav-list li:nth-child(1) {
      background: url("../img/menu.png") 0 0 no-repeat; }
      .nav-list li:nth-child(1):hover {
        background: url("../img/menu.png") -86.252px 0 no-repeat; }
    .nav-list li:nth-child(2) {
      background: url("../img/menu.png") 0 -23px no-repeat; }
      .nav-list li:nth-child(2):hover {
        background: url("../img/menu.png") -86.252px -23px no-repeat; }
    .nav-list li:nth-child(3) {
      background: url("../img/menu.png") 0 -46px no-repeat; }
      .nav-list li:nth-child(3):hover {
        background: url("../img/menu.png") -86.252px -46px no-repeat; }
    .nav-list li:nth-child(4) {
      background: url("../img/menu.png") 0 -69px no-repeat; }
      .nav-list li:nth-child(4):hover {
        background: url("../img/menu.png") -86.252px -69px no-repeat; }
    .nav-list li:nth-child(5) {
      background: url("../img/menu.png") 0 -92px no-repeat; }
      .nav-list li:nth-child(5):hover {
        background: url("../img/menu.png") -86.252px -92px no-repeat; }

  .banner {
    height: 619px;
    background: url("../img/banner2_ok.jpg");
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .banner .blur-banner {
      width: 100%;
      height: 201px;
      background-color: rgba(255, 255, 255, 0.5);
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
      background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
      background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
      background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7));
      position: absolute;
      bottom: 0px;
      left: 0px;
      flex-direction: column; }
      .banner .blur-banner p {
        margin: 8px auto; }
        .banner .blur-banner p:first-child {
          margin-top: 50px; }

  /*
  *opacity會將子元素也透明化，要實現父元素背景透明，子元素不透明的解法
  可將背景放在一個等大的子元素中，用position定位脫離，將z-index設在底層，即可實現。
  */
  .template {
    margin-top: 50px; }

  section {
    min-height: 800px;
    position: relative; }
    section .blur-background {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url("../img/background_ok_1.jpg");
      background-attachment: fixed;
      opacity: 0.3;
      z-index: -1; }
    section .card-list {
      border: 2px solid red;
      padding-top: 50px;
      box-sizing: border-box;
      text-align: center;
      position: relative; }
      section .card-list .card {
        width: 25%;
        min-width: 250px;
        height: 16vw;
        min-height: 250px;
        color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        display: inline-block;
        margin: 20px 10px; }
        section .card-list .card img {
          width: 100%;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 20px 20px 0px 0px; }
        section .card-list .card h2 {
          margin: auto; }
        section .card-list .card p {
          text-indent: 0.5cm; }

  .card {
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px; }
    .card:hover .front {
      transform: rotateY(180deg); }
    .card:hover .back {
      transform: rotateY(0deg); }

  .flipper {
    width: 100%;
    position: relative; }

  .front, .back {
    width: 100%;
    height: 16vw;
    min-height: 250px;
    border-radius: 25px;
    background: url("../img/card-bg-1.jpg");
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column; }

  .front {
    z-index: 2;
    transform: rotateY(0deg); }

  .back {
    transform: rotateY(-180deg); }
    .back p {
      padding: 10px 20px; }

  footer {
    background-color: #FFFEE9;
    height: 30px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box; } }
body {
  width: 100%;
  color: #594846;
  font: 100% "微軟正黑體", "Times New Roman", serif; }

a {
  text-decoration: none; }

h1 {
  color: #594846;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0.25em;
  width: 300px; }

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0.25em; }

.banner > p {
  color: #ffffff;
  font-size: 3em;
  font-weight: 600; }

.blur-banner p:last-child {
  font-size: 2.5em; }

.flex {
  display: -webkit-flex;
  display: flex; }

.wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%; }

.scroll-float {
  z-index: 3;
  box-shadow: 0px 2px 15px 5px #594846; }

.hidden {
  display: none; }

@media screen and (max-width: 1170px) {
  body {
    font-size: smaller;
    color: red; }

  nav h1 {
    display: none; }
  nav .wrapper {
    margin: 0 50px; }

  .card {
    width: 90%; }

  .card-list.wrapper {
    width: 100%; }

  .banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: none; } }

/*# sourceMappingURL=base.css.map */
