.card:hover .front,.front-flip{
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  box-shadow: 0px 0px 0px 0px transparent;
}
//.front-flip{
//  transform: rotateY(180deg);
//}
.card:hover .back,.back-flip{
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1\0;
  box-shadow: 3px 5px 20px 0px #3a3a3a;
}