.card:hover .front,.front-flip{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
//.front-flip{
//  transform: rotateY(180deg);
//}
.card:hover .back,.back-flip{
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}